<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>cab faqs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-danger text-white text-center">
                    <h2> Cab faqs</h2>
                </div>
                <div class="card-body">

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="content">content</label>
                            <input type="text" id="content" name="content" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" id="title" name="Title" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>description</label>
                            <textarea name="description" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="title1">Title</label>
                            <input type="text" id="title1" name="Title1" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>description1</label>
                            <textarea name="description1" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="title2">Title</label>
                            <input type="text" id="title2" name="Title2" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>description2</label>
                            <textarea name="description2" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="title3">Title</label>
                            <input type="text" id="title3" name="Title3" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>description3</label>
                            <textarea name="description3" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="title4">Title</label>
                            <input type="text" id="title4" name="Title4" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>description4</label>
                            <textarea name="description4" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="title5">Title</label>
                            <input type="text" id="title5" name="Title5" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>description5</label>
                            <textarea name="description5" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="title6">Title</label>
                            <input type="text" id="title6" name="Title6" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>description6</label>
                            <textarea name="description6" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="title7">Title</label>
                            <input type="text" id="title7" name="Title7" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>description7</label>
                            <textarea name="description7" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="title8">Title</label>
                            <input type="text" id="title8" name="Title8" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>description8</label>
                            <textarea name="description8" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="title9">Title</label>
                            <input type="text" id="title9" name="Title9" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>description9</label>
                            <textarea name="description9" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="title10">Title</label>
                            <input type="text" id="title10" name="Title10" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>description10</label>
                            <textarea name="description10" class="form-control"></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

</body>
</html>